.everything {
  background-color: #ffecd1;
  color: #001524;
  border-style: double;
  border-color: #001524;
  padding-right: 0px;

}
header {
  padding: 10px;
}
.blogs {
  font-style: italic;
}
.firstNav {
  padding: 24px;
}
.secondNav {
  padding: 24px;
  border-top-style: double;
  border-color: #001524;
}
#plsWork {
  margin-right: 0px;
}
.logo {
  height: 50px;
  width: 55px;
}
.allBody {
  border-top: double #001524;
}
.blogPosts{
  margin: 20px;
}
#title {
  margin: 10px;
}
#postForm {
  margin: 20px;
}
.singlePost {
  margin-top: 20px;
}
.commentSection {
  margin: 15px;
}