header {
    background-color: #001524;
}

#altHeader {
    background-color: #78290f;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#altHeader span {
    color: #ffecd1;
    font-family: 'Luxurious Roman', 'cursive';
}

body {
    background-color: #001524;
}

.altBody {
    background-color: #78290f
}

.blogs {
    font-style: italic;
}

.firstNav {
    padding: 24px;
    background-color: #15615D;
    color: #eaf9fb;
    border: solid 5px #15615D;
}

.altFirstNav {
    padding: 24px;
    background-color: #ff7d00;
    color: #fff2e6;
    border: solid 5px #ff7d00;
}

.secondNav {
    padding: 24px;
    background-color: #ffecd1;
}

#plsWork {
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.logo {
    height: 50px;
    width: 55px;
}

.allBody {
    display: flex;
    justify-content: center;
    border-right: solid 40px #001524;
    border-left: solid 40px #001524;
}

#altAllBody {
    display: flex;
    justify-content: center;
    border-right: solid 40px #78290f;
    border-left: solid 40px #78290f;
}

#putPosts {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffecd1;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
}

.allBlogs {
    background-color: #ffecd1;
    padding: 10px;
    border: 1px solid #ffecd1;
    margin-top: 0px;
}

#loginForm {
    background-color: #ffecd1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #ffecd1;
    border-left: 10px solid #ffecd1;
    margin-top: 0px;
}

.blogPosts {
    margin: 20px;
}

#title {
    margin: 10px;
}

#postForm {
    margin: 20px;
}

.singlePost {
    padding: 10px;
    box-shadow: 0 3px 10px rgb(77 45 0/ 0.2);
    margin-bottom: 25px;
}

.titlePost {
    margin-top: 20px;
}

.commentSection {
    margin: 15px;
}

.register {
    background-color: #ffecd1;
    padding: 10px;
    margin-top: 0px;
    border-right: solid 40px #78290f;
    border-left: solid 40px #78290f;
}

.formTitle {
    font-size: 30px;
    padding-bottom: 10px;
}

ul {
    list-style-type: square;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.profilePicture {
    padding-top: 15px;
}

h4 {
    font-family: 'Arvo', serif;
}

.aboutUsTitle {
    margin: 20px;
}

.input-group {
    width: 25%;
}

#uploadProfilePicture {
    font-size: 16px;
}